<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307712945269-7i1e086lbial8uklinakfna4mi6i1ts8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307712945269-7i1e086lbial8uklinakfna4mi6i1ts8</string>
	<key>API_KEY</key>
	<string>AIzaSyCBx_7WlIohlQ8tK3r5UfWT6jp5v4gdrT8</string>
	<key>GCM_SENDER_ID</key>
	<string>307712945269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatty-4bd60</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-4bd60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307712945269:ios:850e8c8312782335329c3c</string>
</dict>
</plist>